/* DashboardComponent's private CSS styles */

  a {
    text-decoration: none;
  }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  h3 {
    text-align: center; 
    margin-bottom: 0;
  }
  h4 {
    position: relative;
  }
  
  .module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #15331f;
    border-radius: 2px;
  }
  .module:hover {
    background-color: rgb(14, 74, 92);
    cursor: pointer;
    color: #247543;
  }

  @media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; }
  }
  @media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
    }
  }

/* =========================================== my take on the grid design */

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

[class*="col-"] {
  float: left;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  /* border: 1px solid red; */
}
.row::after {
  content: "";
  clear: both;
  display:table;
}
